@media (max-width : 540px) {
  form{
    height: 450px;
    overflow: scroll;
  }

  .video-container{
    height: 100vh;
    object-fit: cover;
  }
}

@media (max-width: 948px) {
  .prediction-section{
    height: 300px !important;
  }
  .prediction-section p{
    color: black;
  }

  .prediction-section h3{
    color: black;
  }
}